<div class="image">
  <img src="assets/weather-app.png" alt="weather" width="350px" height="350px">
</div>

<div>
    <input type="text" [(ngModel)]="cityName" placeholder="Enter city name" rows="1" (keyup.enter)="searchCity()">
    <button (click)="searchCity()">Search</button>
  </div>
  
  <div *ngIf="geoData">
    <h2>{{ geoData.name }}</h2>
  </div>

  <div *ngIf="weatherData">
    <h2>Current Weather</h2>
    <p>Time: {{ weatherData.current.time | date: 'short' }}</p>
    <p>Temperature: {{ weatherData.current.temperature }}°C</p>
    
  