<div class="image">
  <img src="/assets/weather-app.png" alt="weather" width="350px" height="350px">
</div>

<div>
    <textarea [(ngModel)]="cityName" placeholder="Enter city name" rows="1"></textarea>
    <button (click)="searchCity()">Search</button>
  </div>
  
  <div *ngIf="geoData">
    <p>City: {{ geoData.name }}</p>
  </div>

  <div *ngIf="weatherData">
    <h2>Current Weather</h2>
    <p>Time: {{ weatherData.current.time | date: 'short' }}</p>
    <p>Temperature: {{ weatherData.current.temperature }}°C</p>
    
  